{% extends "base.html" %} {% block content %} {% load static %}
<section class="container">
    <section class="post_form">
        <div class="main-header">
            <img src="{% static 'img/twitter-logo.png' %}" alt="">
            <h1>Home</h1>
        </div>
        <div class="tweet-post">
            <div class="my-icon">
                <img src="/static/img/sample-icon.jpg">
                <div class="ditch"></div>

            </div>
 
            <div>
        <form action="/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
              
           
            <input type="text" name="name" placeholder="Your Name" maxlength="14" required />
            <textarea name="body" placeholder="What's happening?" maxlength="140" required></textarea>
            <input type="file" id="file" name="image">
            <input id="tweet" type="submit" value="Tweet"/>
        </form>
        </div>
        </div>
    </section>

    <section class="posts">
        <ul>
         {% for post in posts %}
          <li>
              <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}"/>

              <div class="menu">
                  <a href="/delete/{{ post.id}}/">Delete</a>
                  <a href="/edit/{{ post.id}}/">Edit</a>
              </div>

              <div class="logo">
              <img src="{% static 'img\user.png' %}" />
              </div>
              <div class="name_body">
                  
                  <a href="#" class>
                      <span class="name"> {{ post.name }} </span>
                      <span class="datetime"> {{ post.created_at }} </span>
                  </a>
                  <p>{{ post.body }}</p>
                  
                  {% if post.image.url %}
                  <img src="{{ post.image.url }}" style="width: 100%;">
                  {% endif %}
                  
                  <a href="/like/{{ post.id}}/"> <img src="{% static 'img\heart.png' %}" style="width: 30px;"></a>
                  {{post.likecount}}
              </div>
         </li>
         {% endfor %}
        </ul>        
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>


{% endblock %}

